aws_region         = "ap-southeast-2"
state_bucket_name  = "minhtri-practice-tfstate-2026"
lock_table_name    = "terraform-state-lock"
github_org_or_user = "minhtri1612"
github_repo        = "practice_terraform"
github_owner_id    = "156641195"
github_repo_id     = "1307902298"
