# Local / editor
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets & local vars
*.tfvars
!*.tfvars.example
.env
.aws/

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp
